<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jone.helper" >

    <!-- baidu map -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- baidu map end -->
    <application>
        <activity android:name=".ui.BaiduMapActivity" />
    </application>

</manifest>
