<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jone.helper" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- baidu location -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- baidu location end -->

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.CAMERA" />

    <!-- <uses-permission android:name="android.permission.WAKE_LOCK"/> -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.activities.JoneHelperMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.jone.blue.main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.FlashlightActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".model.Calculator.Calculator"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name=".ui.activities.EggsActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name=".ui.activities.NewsDetailActivity"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".ui.activities.SelectCityActivity"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".ui.activities.HeartRateMonitorActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.EditNotebookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.jone.blue" />
        <activity
            android:name=".ui.activities.NotebookActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.jone.blue" />
        <activity
            android:name=".ui.activities.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.jone.blue" />
        <activity
            android:name=".ui.activities.AppManagerActivity"
            android:label="@string/title_section2"
            android:parentActivityName=".ui.activities.JoneHelperMainActivity" />

        <receiver
            android:name=".ui.weatherWidget.ui.WeatherWidget"
            android:label="JoneWeather" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="jone.intent.action.update.weather" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_weather" />
        </receiver>

        <service android:name=".ui.weatherWidget.service.AppWidgetService" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <provider
            android:name=".lib.model.processData.ProcessDataContentProvider"
            android:authorities="jone.helper.lib.ProcessDataContentProvider"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5421322856240bf7910000e4" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="iSOjn5Bo3w35BuYzKoacWKyf" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- 移动云AppX SDK -->
        <activity android:name="com.baidu.appx.ui.BDInnerBrowser" />

        <receiver android:name="com.baidu.appx.app_download.CompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
                <!-- 注意！！ 这句必须要加，否则接收不到安装完成广播 -->
            </intent-filter>
        </receiver>
        <!-- 移动云AppX SDK end -->
        <activity
            android:name=".ui.activities.KuaiDiSearchActivity"
            android:label="@string/title_activity_kuai_di_search"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
        </activity>
    </application>

</manifest>
